@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif !important;
}

.nav-container{
    border-bottom: 1px solid #8e44ad ;
}

.navbar{
    background-color: #ecf0f1;
    height: 80px;
}

.navbar-brand{
    
    font-size: 20px;
    font-weight: 500;
    color: #8e44ad !important;
    padding-left: 30px;
    padding-right: 30px;
}



.nav-link{
    color: #8e44ad !important;
}

.join-btn{
    margin-top: 3px;
    display: block;
    width: 100px;
    text-align: center;
    border-radius: 20px;
    color: #fff !important;
    padding: 5px 15px 5px 15px !important;
    background-color: #8e44ad;
}

.navbar-toggler-icon{
    color: #8e44ad !important;
}

.navbar-toggler{
    color: #8e44ad !important;
}

.navbar-toggler:focus{
    outline: 0;
}

h1{
    font-size: 50px;
    font-weight: 600;
    color: #333333;
}

p{
    font-size: 16px;
    color: #6E6D7A;
    font-weight: 400;
}

