.hero-wrap{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #f6ebff;
}

.hero-section-heading{
    margin-bottom: 15px;
    overflow-wrap: break-word;
}

.hero-section-text{
    max-width: 500px;
    margin-bottom: 35px;
}

.hero-section-btn{
    display: block;
    background-color:  #8e44ad;
    color: #fff;
    border-radius: 5px;
    width: 100px;
    padding: 5px 10px 5px 10px;
    text-align: center;
}

.hero-section-btn:hover{
    text-decoration: none;
}

.hero-section-img{
    width: 100%;
}

/* Intern Section */

.cards-section{
    padding-top: 50px;
    padding-bottom: 50px;
}

.intern-section-heading{
    text-align: center;
}

.intern-section-subheading{
    text-align: center;
    letter-spacing: 4px;
    margin-bottom: 50px;
}


.card-head {
    background-color: #9b59b6;
    border-radius: 5px 5px 0 0;
    padding: 20px;
}

.card-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
    color: #ecf0f1;
}

.card-time {
    font-size: 14px;
    color: #d6d8d8;
    margin-bottom: 5px;
}

.card-apply-btn {
    background-color: #8b1eb9;
    width: fit-content;
    padding: 5px 10px;
    color: #e2e3e4;
    font-weight: 500;
}

.card-foot {
    border: 2px solid #ddd;
    border-top: none;
    border-radius: 0 0 5px 5px;
    padding: 20px;
}

.card-tags {
    color: #555 !important;
}

.card-description {
    margin-top: 10px;
    margin-bottom: 0;
}



