{% extends 'base.html' %}
{% load static %}

{% block head_block %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

    <title>devNITH</title>
{% endblock %}

{% block body_block %}
    <div class="hero-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="hero-section-heading">A Step Forward to your Development Journey</h1>
                    <p class="hero-section-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Suspendisse elit magna, sagittis at scelerisque ut, aliquet quis nibh.
                        Duis sit amet ante rutrum, eleifend lorem molestie, auctor diam. 
                        Praesent sapien magna, ornare sit amet nisi quis, ornare ornare purus.
                        Praesent vitae massa elit. Proin pretium sed orci vulputate effic hrefitur</p>
                    <a href="#" class="hero-section-btn">Join Us</a>   
                </div>
                <div class="col-md-5">
                    <img src="{% static 'images/download.png' %}" class="hero-section-img" />
                </div>
            </div>
        </div>
    </div>
{% endblock %}