{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block head_block %}
    <link rel="stylesheet" href="{% static 'css/internship_post_form.css' %}">

    <title>Add new internship post</title>
{% endblock %}

{% block body_block %}

<div class="intern-post-form">
    <div class="container ">
        <div class="row">
            <div class="col-md-6">
                <div class="form-wrap">
                    <h1 class="create">Create new Internship Post</h1>
                    <form class="register-form" method="POST">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <input type="submit" class="intern-post" value="Post">
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-wrap">
                    <img src="{% static 'images/intern-post.png' %}" class="good-luck" />
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}