{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block head_block %}
    <link rel="stylesheet" href="{% static 'css/open_source_post_form.css' %}">

    <title>Add new Open Source Project</title>
{% endblock %}

{% block body_block %}

<div class="page-wrap">
    <div class="container ">
        <div class="row">
            <div class="col-md-6">
                <div class="img-wrap">
                    <img src="{% static 'images/open-source.png' %}" class="open-img" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-wrap">
                    <h2 class="heading">Create new Open Source Project Post</h2>
                    <form class="register-form" method="POST">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <input type="submit" class="open-source-btn" value="Post">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}