{% extends 'base.html' %}

{% load static %}

{% block head_block %}
    <link rel="stylesheet" href="{% static 'css/open_source.css' %}">

    <title>Open Source</title>
{% endblock %}

{% block body_block %}

    <div class="header">
        <div class="container">
        <h1 class="heading">Discover Open Source</h1>
        <p class="header-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque soluta, aliquam eos vel ullam saepe amet 
            odio quos rem impedit veniam cum cupiditate, velit deserunt possimus hic natus repellat sint.
        </p>
        </div>
    </div>
    <div class="container">
        
    </div>


{% endblock %}